<div id="content" >	
	<div class="row">
		<div class="intro col-md-6">
			<h1 id="title"> Introducing Xoolo</h1>
			<h3 >(More Coming Soon)</h3>
		</div>
		
		<div class="col-md-6">
			
			<%= image_tag("logo/logo.jpg", width: '500px', height: '500px', :class =>"intro-image") %>
		</div>	
	</div>
	
	<br><br><br><br>
</div>
<div id="about_wrapper">
	<div class="row ">
		<div id="content">
			<div id="content-wrapper">
				<div class="col-md-12" >
					<h1 id="content-title">Simple.Fast.Impactful.</h1>
					<h2> Learning how to finance your life just got easier.</h2> 
					<br>
					<p id="about1">

						Finance has become a financial jargon, infinite loop  of information, much of which does not affect your daily lives. Yet, many believe in order to have financial independence we must glue our eyes and ears to our screens to see the latest breaking news. 

						With millions of hours of content at our finger tips, it would be paradoxical to suggest our generation is in fact suffering from financial illiteracy. However, studies have proven this to be true. We’re building Xoolo to solve this massive problem. We want to support people through their journey in finding their own financial footing. We are not just talking retirement, savings or investment, but their entire financial life. 
						<br> <br>
						Let us begin together.
					</p>
				</div>
			</div>
		</div>	
	</div>
</div>

<!--- Features  -->
<!-- 
<div id="features">
	<div id="content">
		<div class="row">
			<div class="col-md-6">
				<h3>Read news</h3>
		  </div>
		  <div class="col-md-6">
		    <%= image_tag("logo/logo.jpg", width: '200px', height: '200px') %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h3>Blog lessons</h3>
		  </div>
		  <div class="col-md-6">
		    <%= image_tag("logo/logo.jpg", width: '200px', height: '200px') %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<h3>Financial term of the day</h3>
		  </div>
		  <div class="col-md-6">
		    <%= image_tag("logo/logo.jpg", width: '200px', height: '200px') %>
			</div>
		</div>

	</div>
</div>
	 -->
