<h1 id="welcome">The first of our blog series has been released on Medium</h1>
<h3> We're talking about Financial Literacy aka Finlittness</h3>


<h2 id="welcome"><a href="https://medium.com/@xoolo/introducing-xoolo-ecce1057ac3e">Click to read </a></h2>

<br>

<h1>Tomorrow will release our first financial news publication </h1>
<h3>Stay tuned</h3>


