<div id="page_wrapper">
	<div id="content">

		<h1>Simple.Fast.Impactful.</h1>
		<h2> Learning how to finance your life just got easier.</h2> 
		<br>
		<p id="about">

			Financial news has become a financial jargon, infinite loop  of information, much of which does not affect your daily lives. Yet, many believe in order to have financial independence we must glue our eyes and ears to our screens to see the latest breaking news. 

			With a cornapocia of resources at our finger tips, it would be paradoxical to suggest our generation is in fact suffering from financial illiteracy. (I promise to never use those words again in our posts). However, studies have proven this to be true. 
		</p>
		<br>
		<p id="about">

			We’re building Xoolo to solve this massive problem. We want to support people through their journey in finding their own financial footing. We are not just talking retirement, savings or investment, but their entire financial life. 

			In our spare time (which is rare) we can be found knocking down jumpshots at the local YMCA and surfing the web for cheap all-you-can-eat chicken wings restaurants. 

			Thank you for being a part of Xoolo. Get ready, we’re changing things.

		</p>
		<br>
		<p id="signature">
			-Xoolo
		</p>
		
	</div>
</div>