<style>
	.example{
		width: 200px;
		height: 200px;
		}

	.bg {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 hsla(0,0%,46%,.2);
    cursor: pointer;
    font-size: 12px;
    min-height: 190px;
    min-width: 190px;
    position: relative;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
	}
	.bg .bg-hover-wrapper {
    background-color: #2c3e50;
    border-radius: 2px;
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all .25s cubic-bezier(.445,.05,.55,.95);
    width: 100%;
	}
	
	#bg{
		padding-top: 50px;
	}

</style>

<div id="about_wrapper">
  <div id="content" >
    <div class="row ">
      <div id="content-wrapper">
        <div class="col-md-12" >
          <h1 id="content-title">Simple. Fast. Impactful.</h1>
          <h2 id="motto"> Learning how to finance your life just got easier.</h2> 
          <br>
          <p id="about1">

            Finance has become a financial jargon, an infinite loop of information, much of which does not affect your daily lives. Many believe to have financial independence we must glue our eyes and ears to our screens to see the latest breaking news. With millions of hours of content at our finger tips, it would be paradoxical to suggest our generation is, in fact, suffering from financial illiteracy. However, studies have proven this to be true.
            
            <br> <br>
            We’re building Xoolo to solve this massive problem. We want to support people through their journey in finding their financial footing. We are not just talking retirement, savings or investment, but their entire financial life. Let us begin together.  
  
            Let us begin together.

            <br><br>
            Start by reading our <a href="https://medium.com/@xoolo"> <strong> Blog Posts </strong></a> on Medium. 
            
          </p>
        </div>
      </div>
    </div>  
  </div>
</div>