
<div class= "finlit-wrapper">
  <div class="wrapper2">
    <h1 class="title">Financial Literacy Curriculum </h1>
    <div class="row">
      <div class="col-sm-8">
        <p id="guideline">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. </p>

      </div>
      
    </div>
     
  </div>
</div>
  
<div class ="index">
  <h2 class= "text-center"> Select one to begin</h2>
  <div class="row index-item">
    <div class="col-md-4 col-sm-6">
      <div class="bg"> <!-- index-item -->
        <a href="/fplanning">
          <div><h2 class="text-center" id="bg"> Financial Planning</h2></div>   
          <div class="bg-hover-wrapper"></div>
        </a>
      </div>
    </div>  

    <div class="col-md-4 col-sm-6">
      <div class="bg"> <!-- index-item -->
        <a href="/investment">
          <div><h2 class="text-center bg2" id="bg"> Investment Planning</h2></div>  
          <div class="bg-hover-wrapper"></div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="bg"> <!-- index-item -->
        <a href="/tax">
          <div><h2 class="text-center bg3" id="bg"> Income Tax Planning</h2></div>    
          <div class="bg-hover-wrapper"></div>
        </a>
      </div>
    </div>  
    <div class="col-md-4 col-sm-6">
      <div class="bg"> <!-- index-item -->
        <a href="/retirement">
          <div><h2 class="text-center bg4" id="bg"> Retirement Planning</h2></div>  
          <div class="bg-hover-wrapper"></div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="bg"> 
        <a href="/estate">
          <div><h2 class="text-center" id="bg"> Estate Planning</h2></div>    
          <div class="bg-hover-wrapper"></div>
        </a>
      </div>
    </div>  
    <div class="col-md-4 col-sm-6">
      <div class="bg"> 
        <a href="/insurance">
          <div><h2 class="text-center" id="bg"> Insurance Planning</h2></div> 
          <div class="bg-hover-wrapper"></div>
        </a>
      </div>
    </div>
  </div>
</div>
