
<div class= "finlit-wrapper">
  <div class="wrapper2">
    <h1 class="title">Financial Literacy Curriculum </h1>
    <div class="row">
      <div class="col-sm-8">
        <p id="guideline">The internet has too much content on financial literacy.  We know how overwhelming finance can be so we took the hard work out of the equation. We had gathered the fundamentals to becoming financial literacy.  The links have been ensured to be reliable and accurate sources to begin your financial journey. Pick one of the six financial pillars to begin your journey. </p>

      </div>
      
    </div>
     
  </div>
</div>
  
<div class ="index">
  <h2 class= "text-center"> Select one to begin</h2>
  <div class="row index-item">
    <div class="col-md-4 col-sm-6">
      <div class="bg"> <!-- index-item -->
        <a href="/fplanning">
          <div><h2 class="text-center" id="bg"> Financial Planning</h2></div>   
          <div class="bg-hover-wrapper"></div>
        </a>
      </div>
    </div>  

    <div class="col-md-4 col-sm-6">
      <div class="bg"> <!-- index-item -->
        
        <a href="/investment">
          <div><h2 class="text-center bg2" id="bg"> Investment Planning</h2></div>  
          <div class="bg-hover-wrapper"></div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="bg"> <!-- index-item -->
        <div><h2 class="text-center bg3" id="bg">Coming Soon: <br> Income Tax Planning</h2></div>    
        <div class="bg-hover-wrapper"></div>
        <!-- <a href="/tax">
          <div>
            <h2 class="text-center bg3" id="bg">Coming Soon: <br> Income Tax Planning</h2>
          </div>    
          <div class="bg-hover-wrapper"></div>
        </a> -->
      </div>
    </div>  
    <div class="col-md-4 col-sm-6">
      <div class="bg"> <!-- index-item -->
        <div><h2 class="text-center bg4" id="bg">Coming Soon: <br>  Retirement Planning</h2></div>  
        <div class="bg-hover-wrapper"> </div>
        <!-- <a href="/retirement">
          <div><h2 class="text-center bg4" id="bg">Coming Soon: <br>  Retirement Planning</h2></div>  
          <div class="bg-hover-wrapper"> </div>
        </a> -->
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="bg"> 
        <div><h2 class="text-center" id="bg"> Coming Soon: <br> Estate Planning</h2></div>    
          <div class="bg-hover-wrapper"></div>
        <!-- <a href="#"> 
          <div><h2 class="text-center" id="bg"> Coming Soon: <br> Estate Planning</h2></div>    
          <div class="bg-hover-wrapper"></div>
        </a> -->
      </div>
    </div>  
    <div class="col-md-4 col-sm-6">
      <div class="bg"> 
        <div><h2 class="text-center" id="bg"> Coming Soon: <br>  Insurance Planning</h2></div> 
        <div class="bg-hover-wrapper"></div>
        <!-- <a href="/insurance">
          <div><h2 class="text-center" id="bg"> Coming Soon: <br>  Insurance Planning</h2></div> 
          <div class="bg-hover-wrapper"></div>
        </a> -->
      </div>
    </div>
  </div>
</div>
