<!-- Estate Planning page -->
<style>
	.bg{
		background-color: #f0f0f0;
	}
</style>

<div class="index">
	<div class="bg">
		<h1 class="text-center">Estate Planning</h1>
	</div>
	<div class="row">
		<div class="col-md-5" id="concept1">
			<h2> Financial statement</h2>
		</div>
		<div class="col-md-7 ">
			<div class="col-md-6 ">
				<h5>fljflrl</h5>
			</div>
			<div class="col-md-6 ">
				<h5>eferjflr</h5>
			</div>
		</div>
	</div>

	<div class="row" id="concept2">
		<div class="col-md-5 ">
			<h2> Cash Flow Management</h2>
		</div>
		<div class="col-md-7 ">
			<div class="col-md-6 ">
				<h5>fljflrl</h5>
			</div>
			<div class="col-md-6 ">
				<h5>eferjflr</h5>
			</div>
		</div>
	</div>

	<div class="row" id="concept3">
		<div class="col-md-5 ">
			<h2> Educational Planning</h2>
		</div>
		<div class="col-md-7 ">
			<div class="col-md-6 ">
				<h5>fljflrl</h5>
			</div>
			<div class="col-md-6 ">
				<h5>eferjflr</h5>
			</div>
		</div>
	</div>

	<div class="row" id="concept5">
		<div class="col-md-5 ">
			<h2> Economic Concepts</h2>
		</div>
		<div class="col-md-7 ">
			<div class="col-md-6 ">
				<h5>fljflrl</h5>
			</div>
			<div class="col-md-6 ">
				<h5>eferjflr</h5>
			</div>
		</div>
	</div>

	<div class="row" id="concept5">
		<div class="col-md-5 ">
			<h2> Economic Concepts</h2>
		</div>
		<div class="col-md-7 ">
			<div class="col-md-6 ">
				<h5>fljflrl</h5>
			</div>
			<div class="col-md-6 ">
				<h5>eferjflr</h5>
			</div>
		</div>
	</div>

	<div class="row" id="concept6">
		<div class="col-md-5 ">
			<h2> Time Value of Money</h2>
		</div>
		<div class="col-md-7 ">
			<div class="col-md-6 ">
				<h5>fljflrl</h5>
			</div>
			<div class="col-md-6 ">
				<h5>eferjflr</h5>
			</div>
		</div>
	</div>

</div>
