<!-- Financial Planning page  -->


<div class= "finlit-wrapper2">
  <div class="wrapper3">
    <h1 class="text-center">Financial Planning </h1>
  </div>
</div>

<div class= "fp-index-1">
	<div class="">
		<h3> What is Financial planning</h3>
		<p>A financial plan is a comprehensive evaluation of an investor's current and future financial state by using currently known variables to predict future cash flows, asset values, and withdrawal plans. 
		</p> 
		<br>
		<p><em>Six steps to financial planning:</em> <br>
			Establish your goals in life – short, medium and long term. Work out what assets and liabilities you have – write them down. Evaluate your current financial position –  how close are you to achieving your goals? Develop your plan – create a “route map” for achieving your different goals. Implement your plan – make the changes and make it happen. Monitor and review your plan at least yearly and make adjustments when needed.
		</p>
	</div>
	
	
</div>

<div class="fp-index">
	<div>
		<div>
			<h2 class="text-center fp-title" >Financial Planning Essentials</h2>
		</div>
		<div class="row row-fp index-fp">
			<div class= "fp-index-item">
				<div class="col-sm-3 ">
					<h3>Interest Rates</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-4 ">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-interest-and-debt/pf-interest-basics-tutorial/v/introduction-to-interest">Introduction to interest</a></li>
						</div>
						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-interest-and-debt/pf-interest-basics-tutorial/v/interest-part-2">Interest (part 2)</a></li>
						</div>
						<div class="col-sm-4">

							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-interest-and-debt/pf-interest-basics-tutorial/a/how-rising-or-falling-interest-rates-might-affect-you">How rising or falling interest rates might affect you</a></li>
						</div>
						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-interest-and-debt/pf-interest-basics-tutorial/v/why-interest-rates-go-up-and-down">Why interest rates go up and down </a></li>
						</div>
						
						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-interest-and-debt/pf-compound-interest-tutorial/v/introduction-to-compound-interest">Compound interest </a></li>
						</div>
						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-interest-and-debt/pf-compound-interest-tutorial/v/the-rule-of-72-for-compound-interest">The rule of 72 for Compound Interest</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-interest-and-debt/pf-credit-card-interest/a/what-is-an-apr">What is an APR </a></li>
						</div>
						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-interest-and-debt/pf-credit-card-interest/v/annual-percentage-rate-apr-and-effective-apr">Annual percentage rate (APR) and effective APR</a></li>
						</div>
										
					</ul>
				</div>
				
			</div>
		</div>
		<div class="separator"></div>
		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Inflation</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/inflation-tutorial/inflation-basics-tutorial/v/inflation-overview">Inflation overview
							</a></li>
						</div>

						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/inflation-tutorial/inflation-basics-tutorial/v/what-is-inflation">What is inflation
							</a></li>

						</div>

						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/inflation-tutorial/deflation-tutorial/v/deflation">Deflation</a>
							</li>
						</div>

						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/inflation-tutorial/cap-util-inflation/v/inflation-deflation-3-obama-stimulus-plan">Inflation and Deflation -- Obama stimulus plan
							</a>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Balance Sheet</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/accounting-and-financial-stateme/financial-statements-tutorial/v/balance-sheet-and-income-statement-relationship">Balance sheet and income statement relationship</a></li>
						</div>
						<div class="col-sm-4">
								<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/accounting-and-financial-stateme/financial-statements-tutorial/v/basic-cash-flow-statement">Basic cash flow statement</a></li>
						</div>
					</ul>
				</div>
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Time Value of Money</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-interest-and-debt/pf-present-value/v/time-value-of-money">Time value of money</a></li>
						</div>
						<div class="col-sm-4 ">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-interest-and-debt/pf-present-value/v/introduction-to-present-value">Introduction to present value</a></li>
						</div>
					</ul>
				</div>
				
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Budget</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-saving-and-budgeting/pf-advice-for-individuals-tutorial/a/creating-a-budget">Creating a budget </a></li>
						</div>
						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-saving-and-budgeting/pf-advice-for-individuals-tutorial/v/pf-how-much-of-my-pay-should-i-spend">How much of my pay should I spend?</a></li>
						</div>
						<div class="col-sm-4">
							<li><a target= "_blank" href="https://bettermoneyhabits.bankofamerica.com/en/saving-budgeting/how-to-money-management-better">How to manage money better</a></li>
						</div>
					</ul>
				</div>			
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Savings</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-6">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-saving-and-budgeting/pf-advice-for-individuals-tutorial/a/how-to-establish-an-emergency-savings-fund"> How to establish an emergency savings fund </a></li>
						</div>
						<div class="col-sm-6">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-saving-and-budgeting/pf-advice-for-individuals-tutorial/v/options-for-tracking-and-managing-your-spending">Options for tracking and managing your spending </a></li>
						</div>
						
					</ul>
				</div>
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
						<h3>Podcasts to Vibe with</h3>
				</div>
				<div class="col-sm-9 ">
					<ul>
						<div class="col-sm-4">
							<li><a target= "_blank" href="http://freakonomics.com/podcast/everything-always-wanted-know-money-afraid-ask/">Everything you wanted know about money</a>
							</li>
						</div>
						<div class="ol-sm-4">
							<li><a target= "_blank" href="http://freakonomics.com/podcast/stupidest-money/">Stupidest money</a>
							</li>
						</div>
					</ul>
				</div>		
			</div>
		</div>			
	</div>
</div>
