<!-- Insurance Planning page -->
<div class= "finlit-wrapper2">
  <div class="wrapper3">
    <h1 class="text-center">Insurance Planning </h1>
  </div>
</div>

<div class="index">
	<div class="row">
		<div class="col-md-5" id="concept1">
			<h2> Financial statement</h2>
		</div>
		<div class="col-md-7 ">
			<div class="col-md-6 ">
				<h5>fljflrl</h5>
			</div>
			<div class="col-md-6 ">
				<h5>eferjflr</h5>
			</div>
		</div>
	</div>

	<div class="row" id="concept2">
		<div class="col-md-5 ">
			<h2> Cash Flow Management</h2>
		</div>
		<div class="col-md-7 ">
			<div class="col-md-6 ">
				<h5>fljflrl</h5>
			</div>
			<div class="col-md-6 ">
				<h5>eferjflr</h5>
			</div>
		</div>
	</div>

	<div class="row" id="concept3">
		<div class="col-md-5 ">
			<h2> Educational Planning</h2>
		</div>
		<div class="col-md-7 ">
			<div class="col-md-6 ">
				<h5>fljflrl</h5>
			</div>
			<div class="col-md-6 ">
				<h5>eferjflr</h5>
			</div>
		</div>
	</div>

	<div class="row" id="concept5">
		<div class="col-md-5 ">
			<h2> Economic Concepts</h2>
		</div>
		<div class="col-md-7 ">
			<div class="col-md-6 ">
				<h5>fljflrl</h5>
			</div>
			<div class="col-md-6 ">
				<h5>eferjflr</h5>
			</div>
		</div>
	</div>
</div>