<!-- Investment Planning page  -->


<div class= "finlit-wrapper2">
  <div class="wrapper3">
    <h1 class="text-center">Investment Planning </h1>
  </div>
</div>

<div class= "fp-index-1">
	<h3> How to Invest</h3>
	<p><em>8 simple rules to follow: </em><br>Learn the basics. Figure out your investment goals. Determine your risk tolerance. Find your investing style & strategy. Learn the costs. Pick your investments. Keep your emotions separate. Review and adjust your portfolio. <br></p>

	<p>The collection below is the essential tools you need to know before you dive into investment. We recommend going through the links before you invest your hard earned cash.</p>
</div>

<div class="fp-index">
	
	<div>
		<div>
			<h2 class="text-center fp-title" >Investing Essentials</h2>
		</div>
		<div class="row row-fp index-fp">
			<div class= "fp-index-item">
				<div class="col-sm-3">
					<h3>Stocks</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-4">
							<li><a target= "_blank" href="http://www.investopedia.com/university/stocks/stocks1.asp">What Are Stocks?</a></li>
						</div>
						
						<div class="col-sm-4">
							<li><a target= "_blank" href="http://www.investopedia.com/university/stocks/stocks2.asp">Types Of Stocks</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="http://www.investopedia.com/university/stocks/stocks3.asp">How Stocks Trade</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/stock-and-bonds/stocks-intro-tutorial/v/what-it-means-to-buy-a-company-s-stock">What it means to buy a company's stock</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="http://www.investopedia.com/university/stocks/stocks4.asp">Trading Stocks and Order Types</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="http://www.investopedia.com/university/stocks/stocks5.asp">Bulls, Bears & Market Sentiment</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="http://www.investopedia.com/university/stocks/stocks6.asp">How to Read A Stock Table</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="http://www.investopedia.com/university/stocks/stocks7.asp">Valuing Stocks</a></li>
						</div>		

					</ul>
				</div>
				
			</div>
		</div>
		<div class="separator"></div>
		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Bonds</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/stock-and-bonds/bonds-tutorial/v/corporate-debt-versus-traditional-mortgages">Corporate debt vs. traditional mortgages</a></li>
						</div>

						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/stock-and-bonds/bonds-tutorial/v/introduction-to-bonds">Intro to Bonds</a></li>

						</div>

						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/stock-and-bonds/bonds-tutorial/v/introduction-to-the-yield-curve">Intro to the yield curve</a></li>
						</div>

						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/stock-and-bonds/bonds-tutorial/v/relationship-between-bond-prices-and-interest-rates">Relationship between bond prices & interest rates</a>
							</li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/stock-and-bonds/bonds-tutorial/v/treasury-bond-prices-and-yields">Treasury bond prices & yields</a></li>
						</div>
					</ul>
				</div>
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Index Funds</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-4">
							<li><a target= "_blank" href="http://www.investopedia.com/university/indexes/index1.asp">What is an Index?</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="http://www.investopedia.com/university/indexes/index2.asp">The Dow Jones Industrial Average</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="http://www.investopedia.com/university/indexes/index3.asp">The Standard & Poor's 500 Index</a></li>
						</div>

						<div class="col-sm-4">
								<li><a target= "_blank" href="http://www.investopedia.com/university/indexes/index4.asp">The Nasdaq Composite Index</a></li>
						</div>

						<div class="col-sm-4">
								<li><a target= "_blank" href="https://www.forbes.com/sites/nextavenue/2016/09/28/how-to-start-investing-in-index-funds/#2ec2dd1d7540">How to Invest in Index Funds</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="https://investor.vanguard.com/mutual-funds/index-funds?WT.srch=1&cmpgn=PS:RE">Choosing a Mutual Funds</a> </li>
						</div>

					</ul>
				</div>
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Mutual Funds</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/investment-vehicles-tutorial/mutual-funds/v/open-ended-mutual-fund-part-1">Open-ended mutual fund (part 1)</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/investment-vehicles-tutorial/mutual-funds/v/open-end-mutual-fund-redemptions">Open-end mutual fund redemptions (part 2)</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/investment-vehicles-tutorial/mutual-funds/v/closed-end-mutual-funds">Closed-end mutual funds</a> </li>
						</div>
					</ul>
				</div>
				
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Exchanged Traded Funds (ETF) </h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-3">
							<li><a target= "_blank" href="http://www.investopedia.com/terms/e/etf.asp">ETF Basics </a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/investment-vehicles-tutorial/mutual-funds/v/exchange-traded-funds-etfs">Exchange traded funds (ETFs)</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="http://www.investopedia.com/terms/i/index-etf.asp">Index ETF </a></li>
						</div>
					</ul>
				</div>			
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>The Differences</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-3">
							<li><a target= "_blank" href="http://www.investopedia.com/articles/exchangetradedfunds/08/etf-mutual-fund-difference.asp">ETF vs Mutual Funds</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="http://time.com/money/3938695/index-exchange-traded-funds-mutual-fund-difference/">Index Funds vs. ETF vs. Mutual Funds</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/stock-and-bonds/stocks-intro-tutorial/v/bonds-vs-stocks">Bonds vs. Stocks</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://investor.vanguard.com/etf/etf-vs-mutual-fund?lang=en">ETF vs Mutual Funds (2) </a></li>
						</div>
					</ul>
				</div>
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
						<h3>Investment Consumption</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/investment-vehicles-tutorial/investment-consumption/v/risk-and-reward-introduction">Risk and reward introduction</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/investment-vehicles-tutorial/investment-consumption/v/return-on-capital">Return on capital</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/investment-vehicles-tutorial/investment-consumption/v/investment-vs-consumption-1">Investment vs. consumption (1)</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/investment-vehicles-tutorial/investment-consumption/v/investment-vs-comsumption-2">Investment vs. consumption (2)</a></li>
						</div>
						
					</ul>
				</div>		
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Investment tools</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-3">
							<li><a target= "_blank" href="http://money.cnn.com/2016/05/13/investing/how-to-start-investing/index.html"> How to start Investing</a> </li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.betterment.com/why-betterment/">Betterment</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="http://www.schwab.com/public/schwab/investing/invest.html">Schwab</a>
							</li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://investor.vanguard.com/investing/">Vanguard</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.robinhood.com/">Robinhood</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.stashinvest.com/">Stash Invest</a></li>
						</div>
						
					</ul>
				</div>			
			</div>
		</div>




	</div>
</div>
