<!-- Retirement Planning page  -->


<div class= "finlit-wrapper2">
  <div class="wrapper3">
    <h1 class="text-center">Retirement Planning </h1>
  </div>
</div>

<div class= "fp-index-1">
	<h3> How to Save for Retirement</h3>
	<p><em>7 simple rules to follow: </em><br>

		Start Early. Set a goal. Look into Roth IRA. Create emergency fund first. Save whatever you can. If possible--meet your employer's match. Automate your saving. 
		<br></p>

	<p>The collection below is the essential tools you need to know before you dive into retirement. We recommend going through the links before you invest your hard-earned cash.</p>
</div>

<div class="fp-index">
	
	<div>
		<div>
			<h2 class="text-center fp-title" >Retirement Essentials</h2>
		</div>
		<div class="row row-fp index-fp">
			<div class= "fp-index-item">
				<div class="col-sm-3">
					<h3>Retirement accounts</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						

						<div class="col-sm-6">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-investment-vehicles-insurance-and-retirement/pf-ira-401ks/v/traditional-iras"> Traditional IRAs</a></li>
						</div>

						<div class="col-sm-6">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-investment-vehicles-insurance-and-retirement/pf-ira-401ks/v/roth-iras">Roth IRAs</a></li>
						</div>

						<div class="col-sm-6">
							<li><a target= "_blank" href="https://www.khanacademy.org/college-careers-more/personal-finance/pf-investment-vehicles-insurance-and-retirement/pf-ira-401ks/v/401-k-s">401(k)s</a></li>
						</div>

						

						<div class="col-sm-6">
							<li><a target= "_blank" href="https://www.thebalance.com/what-is-a-457-b-plan-2894165">457(b)</a></li>
						</div>

						<div class="col-sm-6">
							<li><a target= "_blank" href="https://www.thebalance.com/what-is-a-403-b-plan-2894164">403(b)</a></li>
						</div>

						<div class="col-sm-6">
							<li><a target= "_blank" href="https://www.investopedia.com/terms/p/pensionplan.asp?ad=dirN&qo=serpSearchTopBox&qsrc=1&o=40186">Pension Plan </a></li>
						</div>

						

						

						


					</ul>
				</div>
				
			</div>
		</div>
		<div class="separator"></div>
		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Retirement Basics</h3>
				</div>
				<div class="col-sm-9">
					<ul>

						<div class="col-sm-6">
							<li><a target= "_blank" href="https://investor.vanguard.com/retirement/savings/how-to-save-for-retirement">How to Save</a></li>
						</div>
						
						<div class="col-sm-6">
							<li><a target= "_blank" href="https://investor.vanguard.com/retirement/savings/why-save">Why Save</a></li>
						</div>

						<div class="col-sm-6">
							<li><a target= "_blank" href="https://www.betterment.com/resources/retirement/401ks-and-iras/traditional-or-roth-401k-decide-with-this-401k-calculator/">Traditional or Roth 401(k)</a></li>
						</div>

						<div class="col-sm-6">
							<li><a target= "_blank" href="https://www.thebalance.com/ways-to-maximize-your-401k-2894190">How to Maximize 401(k)</a></li>
						</div>

						<div class="col-sm-6">
							<li><a target= "_blank" href="http://www.investopedia.com/articles/personal-finance/040215/top-10-mistakes-avoid-your-401k.asp">Top 10 Mistakes to Avoid on Your 401(k)</a></li>
						</div>


						<div class="col-sm-6">
							<li><a target= "_blank" href="https://www.thebalance.com/what-you-need-to-know-about-401-k-early-withdrawals-2894147">Withdrawing Funds From Your 401k Early</a>
							</li>
						</div>

						<div class="col-sm-6">
							<li><a target= "_blank" <a href="https://www.thebalance.com/can-i-open-an-ira-for-my-kid-2894359"> IRA for my Kid</a>
							</li>
						</div>


						<div class="col-sm-6">
							<li><a target= "_blank" href="http://www.investopedia.com/articles/financial-advisors/072915/what-does-ideal-retirement-portfolio-look.asp">Ideal Retirement portfolio</a></li>
						</div>
						
					</ul>
				</div>
			</div>
		</div>

		<div class="separator"></div>

		<div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>Get Started Today</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-4">
							<li><a target= "_blank" href="https://wwws.betterment.com/app/onboarding?signupStartSource=BrochureSignupCta&_ga=2.108085058.1359141381.1503331971-1592300505.1501110884">Get Started With Betterment</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="https://investor.vanguard.com/retirement/savings/open-your-account">Get Started with Vanguard</a></li>
						</div>

						<div class="col-sm-4">
							<li><a target= "_blank" href="https://www.fool.com/retirement/2016/10/07/betterment-vs-vanguard-which-should-retirement-inv.aspx">Betterment vs Vanguard</a></li>
						</div>

					</ul>
				</div>
			</div>
		</div>

		
		<!-- <div class="row row-fp index-fp">	
			<div class ="fp-index-item">
				<div class="col-sm-3">
					<h3>The Differences</h3>
				</div>
				<div class="col-sm-9">
					<ul>
						<div class="col-sm-3">
							<li><a target= "_blank" href="http://www.investopedia.com/articles/exchangetradedfunds/08/etf-mutual-fund-difference.asp">ETF vs Mutual Funds</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="http://time.com/money/3938695/index-exchange-traded-funds-mutual-fund-difference/">Index Funds vs. ETF vs. Mutual Funds</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://www.khanacademy.org/economics-finance-domain/core-finance/stock-and-bonds/stocks-intro-tutorial/v/bonds-vs-stocks">Bonds vs. Stocks</a></li>
						</div>
						<div class="col-sm-3">
							<li><a target= "_blank" href="https://investor.vanguard.com/etf/etf-vs-mutual-fund?lang=en">ETF vs Mutual Funds (2) </a></li>
						</div>
					</ul>
				</div>
			</div>
		</div> -->

	</div>
</div>
