<style>
  .container{
    background: transparent;
  }
</style>
<!-- section one Background image  -->
<div class="home-backimg">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1 id="mantra"> Financial Literacy changes lives</h1>
        <p id="p1"> We collect quality content on finance from the world's most trusted sources and present a roadmap to financial literacy</p>
        <a href="/curriculum" id="BTN"><button type="button" class="btn-lg btn-primary"> Start now</button></a>
      </div>
    </div>
  </div>

  <!-- <h3 class="text-center" >Follow us on <a href="https://www.facebook.com/getXoolo">Facebook</a></h3>  -->
  
</div>

<!-- section 2 stat and facts -->
<div class= "stat-section">
  
  <div class="row">
    <div class="col-sm-3">
      <span class="stat"> 63.71%</span>
      <div>
        <p>National Financial Test Average score to date</p>
      </div>

    </div>
    <div class="col-sm-3">
      <span class="stat"> 39%</span>
      <div>
        <p>Of Milliennials worry about their financial future once a week</p>
      </div>
    </div>
    <div class="col-sm-3">
      <span class="stat"> 46%</span>
      <div>
        <p>Of Americans have less than $10,000 saved for retirement</p>
      </div>
    </div>
    <div class="col-sm-3">
      <span class="stat"> $1.1 Trillion</span>
      <div>
        <p>Student loan debt</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class= "stat-section-wrapper" >
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 test">
          
          <%= link_to(image_tag("logo/finlit.jpeg", :alt => "logo", :title => "Home"), "/") %>
          
          
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 ">
          <div class="gray">
            <h2>Take a Financial Literacy test </h2>
            <h3><a href="https://www.financialeducatorscouncil.org/advanced-financial-education-test/" target="_blank">Advanced Financial Test</a></h3>
            <h3><a href="https://www.financialeducatorscouncil.org/financial-foundation-test/" target="_blank" >Financial Foundation Test</a></h3>
          </div>
        </div>
      </div>
    </div>

  </div>
  

  <div>
      <div class="container">
        <div class="">
          <h2 id="stat1">2 in 3 Americans cannot pass a basic financial literacy test. We're on a mission to change that. Here's how.</h2>
        </div>  
        <!-- heres how text -->
        <div class="">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. </p>
        </div>
        <div>
          <a href="/curriculum"><button type="button" class="btn-lg btn-primary"> Start now</button></a>
        </div>
      </div>
    
  </div>
</div>









