/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



html, body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #0091C6;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
a:hover, a:focus {
    color: #0091C6;
    text-decoration: none;
    background-color: transparent;
}

.navbrand {
	font-family: 'Walter Turncoat', cursive;
	font-size: 100px;
}


a {
	text-decoration: none;
	color: inherit;
}


.nav-words{
	font-size:12;

}

#about_wrapper{
		background: #F9F9F9;
		color: #000;
}

@media (min-width: 768px)	{
	.container {
	    width: 750px;
	  }
}	





@media (max-width: 900px){
.intro-image{
		width: 300px;
		height: 300px;
	}
}

@media (min-width: 767px) and (min-width: 768px) {
	#column-logo-no-form {
    float: left;
    width: 83.33333333%;
	}
	

}

@media (min-width: 1025px){

	#title{
		font-size:70px;
		font-weight: 900;
	}
	#about_wrapper{
		background: #F9F9F9;
		color: #000;
		margin-bottom: 4em;

	}

	#content-title{
		font-size: 52px;
		margin-top: 1em;
		padding-top: 1

		em;
    margin-bottom: .65em;
    line-height: 1.2;
	}
	
	#about1 {
	font-size: 19px;
	line-height: 1.75;
	font-weight: 200;
	margin-bottom: 2em;
	padding-bottom: 60px;
	
	}
	
}
#content {
  padding-right: 65px;
  padding-left: 65px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  #content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #content{
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #content{
    width: 1170px;
  }
}

.nav-bar-2017 {
    margin: 5px 0px 0px 0;
}


.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
	outline: none;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: .5em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid #33acb7;
		color: #33acb7;
		a {
			color: #33acb7 !important;
		}
	}
}

.POST{
	text-align: left;

}


/*#signature{
	font-size: 30px;
	font-family: 'Oleo Script', cursive;

}*/

#signature{
	font-size: 20px;
}

p{
	  font-size: 15px;
    line-height: 2;
}
