/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



html, body {
	font-family: 'Archivo', sans-serif;

}

/* Nav bar */

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #0091C6;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
a:hover, a:focus {
    color: #0091C6;
    text-decoration: none;
    background-color: transparent;
}

.navbrand {
	
	font-size: 100px;
}


a {
	text-decoration: none;
	color: inherit;
}


.nav-words{
	font-size:12;

}

.container-fluid{
	padding-left:135px;
}

/* Nav bar */



p{
	  font-size: 15px;
    line-height: 2;
}

.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}



.POST{
	text-align: left;

}


/* media queries*/



@media (max-width: 900px){
}

@media (min-width: 767px) and (min-width: 768px) {
	.container {
	    width: 750px;
	  }
	#column-logo-no-form {
    float: left;
    width: 83.33333333%;
	}
	

}

@media (max-width: 768px){
	

}
@media (min-width: 1025px){

}
@media (min-width: 768px) {
  #content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #content{
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #content{
    width: 1170px;
  }
}




/* Footer links */


.footer-basic-centered .footer-company-motto{
	color:  #fff;
	font-size: 24px;
	margin: 0;

}


/* If you don't want the footer to be responsive, remove these media queries */
.footer-left{
	text-align: center;
	color: #000
}

@media (max-width: 600px) {
	.footer-company-motto{
		font-size: 18px;
	}

	.footer-company-name{
		font-size: 12px;
	}
}

.footer-distributed{
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	color: black;
	padding: 10px 50px;
	margin-top: 10px;
}

.footer-distributed .footer-left p{
	color:  #000;
	font-size: 16px;
	margin: 0;
	text-align: center;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

