// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*general homepage styles÷*/
.container{
	background: #fff;
}



/*general homepage styles end */

/*section 1 */

.home-backimg{
  background-image:
    url("logo/biz.png") !important;
  padding-bottom: 150px;
  
  margin-top: -130px;
}


#mantra{
	padding-top: 1em;
	font-weight: 500px;
	font-size: 36px;
	line-height: 50px;
	font-style: bold;
	margin-top: 2.5em;

}

#p1{
	font-weight: 900px;
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 1em;
}

#BTN{
	padding-bottom: 1.2em;
}


/*section 1  end */
#stat1{
	padding-top: 1.2em;
	padding-bottom: 1.2em;
	font-size: 26px;
	font-weight: 900px;


}
/*section 2 */
/*.home-backimg2{
  background-image:
    url(https://cdn.kastatic.org/images/homepage/mountains-simple.svg) !important;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 0px;
  margin-top: -140px;

}*/



/*section 2  end */



/* about us */

#content-wrapper{
	padding: 0px 30px;
}

/* feature section */

#features{
	padding: 10px 50px;
	margin-bottom: 4em;
}

@media (max-width: 768px) {

	home-backimg{
  margin-top: -125px;

 }

	/* section 1 */
  #mantra h1{
  	font-size: 28px;
  	margin-top: 50px;
  }

  /* section 2 */

  #stat1{
	
	font-size: 22px;


}


}


